.query-value {
  height: 44px;
  font-size: 1em;
  padding: 0 0 0 10px;
  margin-right: 10px;
  border: 0.5px solid #ccc;
}

.and {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin: 2px 10px 0 0;
  background-color: #efefef;
  border: 0.5px solid #ccc;
  text-align: center;
}