.query-row {
  display: flex;
  padding: 20px 0;
}

.query-result {
  width: 50%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  bottom: 0;
}