.searchBtn {
  height: 44px;
  width: 244px;
  margin-right: 10px;
  color: white;
  background-color: rgb(19, 151, 202);
  border: 0.5px solid #ccc;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  right: 0;
}
