.deleteBtn {
  height: 44px;
  width: 44px;
  margin-right: 10px;
  color: #555;
  background-color: #efefef;
  border: 0.5px solid #ccc;
  cursor: pointer;
  font-weight: bold;

  &.current {
    background-color: white;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}